@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Tailwind colors */
    --color-primary-50: 166 76% 97%;
    --color-primary-100: 167 85% 89%;
    --color-primary-200: 168 84% 78%;
    --color-primary-300: 171 77% 64%;
    --color-primary-400: 172 66% 50%;
    --color-primary-500: 173 80% 40%;
    --color-primary-600: 175 84% 32%;
    --color-primary-700: 175 77% 26%;
    --color-primary-800: 176 61% 19%;
    --color-primary-900: 176 61% 19%;
    --color-secondary-50: 214 100% 97%;
    --color-secondary-100: 214 95% 93%;
    --color-secondary-200: 213 97% 87%;
    --color-secondary-300: 212 96% 78%;
    --color-secondary-400: 213 94% 68%;
    --color-secondary-500: 217 91% 60%;
    --color-secondary-600: 221 83% 53%;
    --color-secondary-700: 224 76% 48%;
    --color-secondary-800: 226 71% 40%;
    --color-secondary-900: 224 64% 33%;
    --color-gray-50: 210 20% 98%;
    --color-gray-100: 220 14% 96%;
    --color-gray-200: 220 13% 91%;
    --color-gray-300: 216 12% 84%;
    --color-gray-400: 218 11% 65%;
    --color-gray-500: 220 9% 46%;
    --color-gray-600: 215 14% 34%;
    --color-gray-700: 217 19% 27%;
    --color-gray-800: 215 28% 17%;
    --color-gray-900: 221 39% 11%;
    --color-destructive-50: 0 86% 97%;
    --color-destructive-100: 0 93% 94%;
    --color-destructive-200: 0 96% 89%;
    --color-destructive-300: 0 94% 82%;
    --color-destructive-400: 0 91% 71%;
    --color-destructive-500: 0 84% 60%;
    --color-destructive-600: 0 72% 51%;
    --color-destructive-700: 0 74% 42%;
    --color-destructive-800: 0 70% 35%;
    --color-destructive-900: 0 63% 31%;
    --color-destructive-950: 0 75% 15%;

    /* shadcn/ui theme */
    --background: var(--color-gray-50);
    --foreground: var(--color-gray-900);
    --muted: var(--color-gray-200);
    --muted-foreground: var(--color-gray-900);
    --card: var(--background);
    --card-foreground: var(--foreground);
    --popover: var(--background);
    --popover-foreground: var(--foreground);
    --border: var(--color-gray-200);
    --input: var(--color-gray-300);
    --primary: var(--color-primary-600);
    --primary-foreground: var(--color-gray-50);
    --secondary: var(--color-secondary-600);
    --secondary-foreground: var(--color-gray-50);
    --destructive: var(--color-destructive-500);
    --destructive-foreground: var(--color-gray-50);
    --accent: var(--color-gray-200);
    --accent-foreground: var(--color-gray-900);
    --ring: var(--color-secondary-400);
  }
}

@layer components {
  .form-item {
    @apply mb-4;
  }

  .input {
    @apply mt-1 flex h-10 w-full rounded-md border border-input bg-background
        px-3 py-2 text-sm ring-offset-background file:border-0 file:bg-transparent 
        file:text-sm file:font-medium placeholder:text-muted-foreground 
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring 
        focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50;
  }

  .input--error {
    @apply focus-visible:ring-destructive-500;
  }

  .label {
    @apply text-sm font-medium leading-none peer-disabled:cursor-not-allowed 
        peer-disabled:opacity-70;
  }

  .btn {
    @apply inline-flex items-center justify-center whitespace-nowrap rounded-md 
        text-sm font-medium ring-offset-background transition-colors 
        focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring 
        focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50
        h-10 px-4 py-2;
  }

  .btn--sm {
    @apply h-9 rounded-md px-3;
  }

  .btn--lg {
    @apply h-11 rounded-md px-8;
  }

  .btn--default {
    @apply bg-primary text-primary-foreground hover:bg-primary-700;
  }

  .btn--outline {
    @apply border border-input bg-background hover:bg-accent hover:text-accent-foreground;
  }

  .card {
    @apply w-full max-w-[25rem] p-7 sm:p-14 rounded-lg border border-border flex flex-col; 
  }
}
