.form {
    display: flex;
    flex-direction: column;
    gap: var(--space-6);
    width: 100%;
}

.input {
    margin-top: var(--space-2);
}

.date-label {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.date {
    display: flex;
    gap: var(--space-4);
    align-items: center;
    margin-top: var(--space-2);
}

.date-picker {
    padding: var(--space-2);
    border: solid 1px;
    border-color: var(--gray-7);
    border-radius: var(--radius-2);
    font-weight: var(--font-weight-regular);
}

.date-picker:focus {
    outline-color: var(--accent-8);
}
