.input-title {
    flex-grow: 1;
    margin-right: var(--space-3);
}

.input-desc {
    min-height: 200px;
    /* box-shadow: var(--shadow-1); */
}

.datalist {
    gap: var(--space-4);
}

.datalist dt {
    min-width: unset;
}

.description-card {
    flex-grow: 1
}
