.wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--space-5);
}

.controls {
    display: flex;
    justify-content: space-between;
    gap: var(--space-4);
}

.list-wrapper {
    overflow: hidden;
    padding: 0;
}

.list,
.list-header {
    background-color: var(--color-panel);
}

.list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-header {
    border-bottom: 1px solid var(--gray-5);
}

.list-item {
    display: flex;
    flex-direction: column;
    padding-block: var(--space-2);
    padding-inline: var(--space-4);
    border-bottom: 1px solid var(--gray-5);
}

.list-item:last-child {
    border-bottom: none;
}

.list-item:hover {
    background-color: var(--gray-3);
}
