.btn {
    display: inline-block;
    padding-block: var(--space-3);
    padding-inline: var(--space-5);
    border-radius: var(--radius-button);
    border: 1px solid transparent;
    font-weight: var(--weight-medium);
    cursor: pointer;
    user-select: none;
}

.btn:active {
    filter: var(--accent-active-filter);
}

.sm {
    padding-block: var(--space-2);
    padding-inline: var(--space-4);
}

.solid {
    background-color: var(--accent-solid);
    color: var(--accent-white);
}

.solid:hover {
    background-color: var(--accent-solid-hover);
}

.soft {
    background-color: var(--accent-soft);
    color: var(--accent-soft-text);
}

.soft:hover {
    background-color: var(--accent-soft-hover);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--accent-outline);
    box-shadow: 0px 0px 2px var(--accent-outline);
    color: var(--accent-outline-text);
}

.outline:hover {
    background-color: var(--accent-outline-hover);
}
