.btn {
    display: inline-block;
    padding-block: var(--space-3);
    padding-inline: var(--space-5);
    border-radius: var(--radius);
    border: 1px solid transparent;
    font-weight: var(--weight-medium);
    cursor: pointer;
    user-select: none;
}

.sm {
    padding-block: var(--space-2);
    padding-inline: var(--space-4);
}

.solid {
    background-color: var(--accent-solid);
    color: var(--accent-solid-text);
}

.solid:hover {
    background-color: var(--accent-solid-hover);
}

.solid:active {
    background-color: var(--accent-solid-active);
}

.soft {
    background-color: var(--accent-soft);
    color: var(--accent-soft-text);
}

.soft:hover {
    background-color: var(--accent-soft-hover);
}

.soft:active {
    background-color: var(--accent-soft-active);
}

.outline {
    background-color: transparent;
    border: 1px solid var(--accent-outline);
    box-shadow: 0px 0px 2px var(--accent-outline-hover);
    color: var(--accent-outline-text);
}

.outline:hover {
    border-color: var(--accent-outline-hover);
    color: var(--accent-outline-text-hover);
}

.outline:active {
    background-color: var(--accent-outline-active);
}
